<!DOCTYPE html>
<html lang = "ru-RU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style.css"/>
<title>What Computer</title>
</head>

<body>
<div id = "wrapper">
<div id = "header"> <img src="{{ url_for('static', filename='img/main_header.jpg') }}" alt="What Computer"/> </div>
<div id = "content">
  <div class="comp">
    <div class = "image"> <img src="{{ url_for('static', filename='img/compImg.jpg') }}" alt = "Рисунок"/></div>
    <div class = "descriptionSection">
      <div class="title">
        <div class = "name" style="font-size:18px"> Intel Atom D425s </div>
        <div class="classification" style="clear:left; top:0px">
          <div class="cover"></div>
          <div class="progress" style="width: 100%;"></div>
        </div>
      </div>
      <ul class = "description">
        <li>
          <div class="paramName">Название процессора:</div>
          <div class="paramValue"> Intel Atom D425 </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 84%;"></div>
          </div>
        </li>
        <li>
          <div class="paramName">Частота процессора:</div>
          <div class="paramValue"> 1,8 </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 10%;"></div>
          </div>
        </li>
        <li>
          <div class="paramName">Количество ядер/потоков:</div>
          <div class="paramValue"> 1/(2) </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 54%;"></div>
          </div>
        </li>
        <li>
          <div class="paramName">Тип памяти:</div>
          <div class="paramValue"> DDR3-1333 </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 74%;"></div>
          </div>
        </li>
        <li>
          <div class="paramName">Общий объем памяти:</div>
          <div class="paramValue"> 2048 Mb </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 69%;"></div>
          </div>
        </li>
        <li>
          <div class="paramName">Чипсет материнской платы:</div>
          <div class="paramValue"> Intel NM10 </div>
          <div class="paramStars">
            <div class="cover"></div>
            <div class="progress" style="width: 62%;"></div>
          </div>
        </li>
      </ul>
    </div>
    <ul class = "answerButtons">
      <li>
        <div class = "price">3460 грн</div>
        <div class = "priceRange">3400 - 3700</div>
      </li>
      <li> <a  href = "Comp.html"> <img src="{{ url_for('static', filename='img/greenButtons/wNextButton1.jpg') }}" alt="Далее" 
                                onMouseOver="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton2.jpg') }}'" 
                                onMouseOut="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton1.jpg') }}'"
                                onMouseDown="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton3.jpg') }}'"
                                /> </a> </li>
    </ul>
  </div>
  <div id="tabContainer">
    <div class="tabs">
      <ul>
        <li id="parametrs" class="tabActiveHeader">Описание</li>
        <li id="stores">Магазины</li>
      </ul>
    </div>
    <div class="tabscontent">
      <div class="tabpage" id="parametrs_content">
        <table cellspacing="0" id="parametrs">
          <tr class = "gray">
            <td class="paramName">Тип</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">Ноутбук </td> 
          </tr>
          <tr class = "green">
            <td class="paramName">Процессор</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">Intel Core i7-3610QM</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Частота процессора, Ггц</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">2,1</td>
          </tr>
          <tr class = "green">
            <td class="paramName">Число ядер (потоков)</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">4 (4)</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Чипсет </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">Intel HM67</td>
          </tr>
         <tr class = "green">
            <td class="paramName">Объем оперативной памяти (стандарт/максимум)</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">8192/8192 Мб</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Жесткий диск</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">1000 Гб</td>
          </tr>
         <tr class = "green">
            <td class="paramName">Графический адаптер, объем памяти</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">AMD Radeon HD 7670M, 1GB</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Разрешение экрана </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">1366x7687</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Диагональ экрана, дюймов</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">15,6</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Тип матрицы </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">TN+film</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Покрытие</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">глянцевое</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Оптический привод </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">DVD-RW</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Предустановленная ОС</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">Linux</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Емкость батареи, мА.ч </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">н.д.</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Масса, кг </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">2,9</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Габариты, мм</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">343х245,8х32,8</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Внешние порты </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">2xUSB 3.0, 1xUSB 2.0, e-SATA, VGA, HDMI, mic-in, speaker-out</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Wi-Fi</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">802.11b/g/n</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Bluetooth </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">+</td>
          </tr>         
           <tr class = "green">
            <td class="paramName">WiMAX</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">-</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">3G </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">-</td>
          </tr>
           <tr class = "green">
            <td class="paramName">Кардридер</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">+</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">WEB-камера </td>
            <td class="paramSeparator"></td>
            <td class="paramValue">+</td>
          </tr>
          <tr class = "green">
            <td class="paramName">Слот расширения</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">-</td>
          </tr>
          <tr class = "gray">
            <td class="paramName">Сетевой адаптер</td>
            <td class="paramSeparator"></td>
            <td class="paramValue">10/100</td>
          </tr>
        </table>
        </div>
      <div class="tabpage" id="stores_content">
        <table cellspacing="0" id="stores">
          <tr class = "gray">
            <td class="storeLogo"><img src="{{ url_for('static', filename='img/7276.png') }}" /></td>
            <td class="paramSeparator"></td>
            <td class="storeInfo"> <a  href = "#"> <span class = "storeName"> Repka.UA </span> <br> Dell Inspiron 5520 (DI5520I361281000Silver)</a></td>
            <td class="paramSeparator"></td>
            <td class="storePrice">3200 Грн</td> 
          </tr>
          <tr class = "gray">
            <td class="storeLogo"><img src="{{ url_for('static', filename='img/919.png') }}" /></td>
            <td class="paramSeparator"></td>
            <td class="storeInfo"> <a  href = "#"> <span class = "storeName"> СОКОЛ </span> <br> Dell Inspiron 5520 (DI5520I361281000Silver)</a></td>
            <td class="paramSeparator"></td>
            <td class="storePrice">3530 Грн</td> 
          </tr>
          <tr class = "gray">
            <td class="storeLogo"><img src="{{ url_for('static', filename='img/7008.png') }}" /></td>
            <td class="paramSeparator"></td>
            <td class="storeInfo"> <a  href = "#"> <span class = "storeName"> Mixera.ua </span> <br> Dell Inspiron 5520 (DI5520I361281000Silver)</a></td>
            <td class="paramSeparator"></td>
            <td class="storePrice">3304 Грн</td> 
          </tr>
         </table>
      </div>
    </div>
  </div>
  <div id = "footer"> Developed by Sonik and Pikachu </div>
</div>
<script src="tabs.js"></script>
</body>
</html>