{% macro titlePart(title, description) -%}
   <p class = "qText">{{ title }} {% if description %}<a href="javascript:void(0)" title="{{ description|e }}"> ?</a> {% endif %}</p>
{%- endmacro %}

{% macro checkbox(title, name, texts, values, selected_values, description, style, type) -%}          
          <div class="question question-checkbox {{ type }}" style = "{{ style }}">       
            {{ titlePart(title, description) }}
            {% if type != 'table' %}  
                {% for i in range(values|length) %}
                <label>
                    <input type="checkbox" name="{{ name }}_{{ values[i] }}" id="{{ name }}_{{ values[i] }}" value="{{ values[i] }}"> 
                    {{ texts[i] }}   
                </label> 
                 {% if selected_values %} {% if i in selected_values %}
                              <script type="text/javascript">
                                  qParams["{{ name }}_{{ values[i] }}"] = "checked";
                                </script>                  
                {% endif %} {% endif %}   
                {% endfor %}
            {% else %}
                <table>
                <tr>
                {%- for col in values|batch(4) -%}
                   <td>
                   {% set colloop = loop %} 
                    {%- for post in col -%}                                        
                        <label>
                            <input type="checkbox" name="{{ name }}_{{ values[colloop.index0*4 + loop.index0] }}" id="{{ name }}_{{ values[colloop.index0*4 + loop.index0] }}" value="{{ values[colloop.index0*4 + loop.index0] }}">
                            {{ texts[colloop.index0*4 + loop.index0] }}
                        </label>                                                 
                        {% if selected_values %} {% if colloop.index0*4 + loop.index0 in selected_values %}                         
                              <script type="text/javascript">
                                  qParams["{{ name }}_{{ values[colloop.index0*4 + loop.index0] }}"] = "checked";
                                </script>                  
                        {% endif %} {% endif %}                    
                    {%- endfor -%}
                    </td>
                {%- endfor -%}
                </tr>
                </table>
            {% endif %}    
          </div>
{%- endmacro %}

{% macro radio(title, name, texts, values, selected_value, description, style, type) -%}
          <div class="question question-radio {{ type }}" style = "{{ style }}">       
            {{ titlePart(title, description) }}
            {% if type != 'table' %}            
                {% for i in range(values|length) %}
                <label>
                    <input type="radio" name="{{ name }}" value="{{ values[i] }}" id="{{ name }}_{{ values[i] }}">
                    {{ texts[i] }}                   
                </label>
                {% if i == selected_value %}                             
                              <script type="text/javascript">
                                  qParams["{{ name }}_{{ values[i] }}"] = "checked";
                              </script>                                        
                {% endif %}
                {% endfor %}                               
            {% else %}
                <table>
                <tr>
                {%- for col in values|batch(4) -%}
                   <td>
                   {% set colloop = loop %}  
                    {%- for post in col -%}                   
                        <label>
                            <input type="radio" name="{{ name }}" value="{{ values[colloop.index0*4 + loop.index0] }}" id="{{ name }}_{{ values[colloop.index0*4 + loop.index0] }}">
                            {{ texts[colloop.index0*4 + loop.index0] }}
                        </label>
                        {% if i == selected_value %}
                              <script type="text/javascript">
                                  qParams["{{ name }}_{{ values[colloop.index0*4 + loop.index0] }}"] = "checked";
                                </script>                  
                       {% endif %}                    
                    {%- endfor -%}
                    </td>
                {%- endfor -%}
                </tr>
                </table>                
            {% endif %}
          </div>
          
{%- endmacro %}

{% macro select(title, name, texts, values, description, style) -%}
        <div class="question question-select" style = "{{ style }}">
            {{ titlePart(title, description) }}
            <select name="{{ name }}" id="{{ name }}">
                {% for i in range(values|length) %}
                    <option value="{{ values[i] }}">{{ texts[i] }}</option>            
                {% endfor %}
            </select>
        </div>    
        <script type="text/javascript">
                $(function (){
                    $("#{{ name }}").selectbox();     
                  });
        </script>
{%- endmacro %}

{% macro sliderDouble(title, name, min, max, start_values, description, heterogeneity, dimension, step, style) -%}
        <div class="question question-slider" style = "{{ style }}">        
            {{ titlePart(title, description) }}            
            <p class = "slider"><input id="{{ name }}" type="text" name="{{ name }}" value="start_values[0];start_values[1]"/></p>
        </div>    
        <script type="text/javascript" charset="utf-8">            
            jQuery("#{{ name }}").slider({from: {{ min }}, to: {{ max }}, {% if heterogeneity %} heterogeneity: ['50/{{ heterogeneity[0] }}', '75/{{ heterogeneity[1] }}'], {% endif %}limits: true, step: {{ step }}, dimension: '{{ dimension }}'});
            qParams["{{ name }}"] = "{{ start_values[0] }};{{ start_values[1] }}";

        </script> 
{%- endmacro %}

{% macro sliderSingle(title, name, min, max, start_value, description, labels, scale, dimension, step, style) -%}
        <div class="question question-slider" style = "{{ style }}">
            {{ titlePart(title, description) }}
            {% if labels %}
            <label class = "left">{{ labels[0] }}</label>
            <label class = "right">{{ labels[1] }}</label>
            {% endif %}
            <p class = "slider"><input id="{{ name }}" type="text" name="{{ name }}" value="start_value"/></p>
        </div>    
        <script type="text/javascript" charset="utf-8">            
            jQuery("#{{ name }}").slider({limits: false, scale: {{ scale }}, skin: "single", from: {{ min }}, to: {{ max }}, step: {{ step }}, dimension: '{{ dimension }}'}); 
            qParams["{{ name }}"] = "{{ start_value }}";
        </script> 
{%- endmacro %}

{% macro container(children) -%}
    {% for child in children %}
        {{ getContent(child) }}
    {% endfor %}
{%- endmacro %}

{% macro twoPart(name, cPart, nPart, defPart) -%}
    <div class="question-content" id = "{{ name }}">
          <input type = "hidden" name = "{{ name }}_hi" id = "{{ name }}_hi" value = "{{ defPart }}">
          <table class="question-part cPart">
          <tr>
          <td class="question-text">
                {{ getContent(cPart) }}
          </td>
          <td class="arrow">
          <a class="arrowHref" id = "rArrow{{ name }}" href="javascript:void(0)"> <img src="{{ url_for('static', filename='img/arrow_r_small.png') }}" alt="Нечеткий вопрос"
                                onMouseOver="this.src='{{ url_for('static', filename='img/arrow_r_big.png') }}'" 
                                onMouseOut="this.src='{{ url_for('static', filename='img/arrow_r_small.png') }}'"
                                /> </a>
          </td>
          </tr>
          </table>     
          <table class="question-part nPart">
          <tr>
          <td class="arrow">
          <a class="arrowHref" id = "lArrow{{ name }}" href="javascript:void(0)"> <img src="{{ url_for('static', filename='img/arrow_l_small.png') }}" alt="Четкий вопрос"
                                onMouseOver="this.src='{{ url_for('static', filename='img/arrow_l_big.png') }}'" 
                                onMouseOut="this.src='{{ url_for('static', filename='img/arrow_l_small.png') }}'"
                                /> </a>
          </td>  
          <td class="question-text">
                {{ getContent(nPart) }}
          </td>  
          </tr>
          </table>          
        </div>        
         <script type="text/javascript">             
             $("#rArrow{{ name }}").click( function(){
                 var newMargin = parseInt($("#{{ name }}").css("margin-left")) - 800;
                $("#rArrow{{ name }}").hide();
                $("#lArrow{{ name }}").show();
                $("#{{ name }}_hi").val(1);
                $("#{{ name }}").animate({ marginLeft: newMargin }, 800);       
                });
            $("#lArrow{{ name }}").click( function(){
                var newMargin = parseInt($("#{{ name }}").css("margin-left")) + 800;
                $("#lArrow{{ name }}").hide();
                $("#rArrow{{ name }}").show();
                $("#{{ name }}_hi").val(0);
                $("#{{ name }}").animate({ marginLeft: newMargin }, 800);
                });
            qParams["{{ name }}_hi"] = "{{ defPart }}";     
        </script> 

{%- endmacro %}

{% macro getContent(filter) -%}
        {% if filter.ftype == 'container' %}
            {{ container(filter.children) }}
        {% elif filter.ftype == 'twoPart' %}
            {{ twoPart(filter.name, filter.cPart, filter.nPart, filter.defPart) }}
        {% elif filter.ftype == 'checkbox' %}
            {{ checkbox(filter.title, filter.name, filter.texts, filter.values, filter.selected_values, filter.description, filter.style, filter.type) }}
        {% elif filter.ftype == 'select' %}
            {{ select(filter.title, filter.name, filter.texts, filter.values, filter.description, filter.style) }}
        {% elif filter.ftype == 'radio' %}
            {{ radio(filter.title, filter.name, filter.texts, filter.values, filter.selected_value, filter.description, filter.style, filter.type) }}        
        {% elif filter.ftype == 'sliderDouble' %}
            {{ sliderDouble(filter.title, filter.name, filter.min_value, filter.max_value, filter.start_values, filter.description, filter.heterogeneity, filter.dimension, filter.step, filter.style) }}
        {% elif filter.ftype == 'sliderSingle' %}
            {{ sliderSingle(filter.title, filter.name, filter.min_value, filter.max_value, filter.start_value, filter.description, filter.labels, filter.scale, filter.dimension, filter.step, filter.style) }}
        {% endif %}
{%- endmacro %}


{% for filter in filters %}
    {% if filter.ftype == 'twoPart' %} <li class="questions-big"> {% else %} <li> {% endif %}
    {{ getContent(filter) }}
    </li>
{% endfor %}
