<!-- Уникадьный id может совпадать со значением name. Мне приходит словарь с ключями name и значениями - value  -->

{% macro checkbox(description, name, texts, values, selected_values) -%}
	<p><h5> {{ description }} </h5>
		{% for i in range(values|length) %}
        	<input type="checkbox" name="{{ name }}_{{ values[i] }}" value="{{ values[i] }}"
        	{% if values[i] in selected_values %} checked {% endif %}>
        	{{ texts[i] }}<Br>
    	{% endfor %}
    	<br>
    </p>
{%- endmacro %}

{% macro slider(description, name, min, max, start_value) -%}
	<p><h5> {{ description }} </h5> 
		min:{{ min }} 
        <input type="text" name="{{ name }}" value="{{ start_value }}" size="20">
        max:{{ max }} <br>
	</p>
{%- endmacro %}


{% for filter in filters %}
	{% if filter.ftype == 'checkbox' %}
		{{ checkbox(filter.description, filter.name, filter.texts, filter.values, filter.selected_values) }}
	{% elif filter.ftype == 'slider' %}
		{{ slider(filter.description, filter.name, filter.min_value, filter.max_value, filter.start_value) }}
	{% endif %}
{% endfor %}