{% macro checkbox(question, name, values, texts, selected_values) -%}
	<p><h5> {{ question }} </h5>
		{% for i in range(values|length) %}
    	<input type="checkbox" name="{{ name }}_{{ values[i] }}" value="{{ values[i] }}"
    	{% if values[i] in selected_values %} checked {% endif %}>
    	{{ texts[i] }}<Br>
    	{% endfor %}
    	<br>
    </p>
{%- endmacro %}

{% macro slider(question, name, min, max, value) -%}
	<p><h5> {{ question }} </h5> 
		{{ min }} <input type="{{ type }}" name="{{ name }}_{{ value }}" value="{{ value }}" size="20"> {{ max }} <br>
	</p>
{%- endmacro %}


{% for filter in filters %}
	{% if filter.ftype == 'checkbox' %}
		{{ checkbox(filter.question, filter.name, filter.values, filter.texts, filter.selected_values) }}
	{% elif filter.ftype == 'slider' %}
		{{ slider(filter.question, filter.name, filter.slider_min, filter.slider_max, filter.value) }}
	{% endif %}
{% endfor %}