<div id = "mainQuestion" class="question question-radio inline" style = "">       
  <p class = "qText">Я хочу ... </p>
    <label>
        <input type="radio" name="type" value="computer" id="type_computer">
        Компьютер                   
    </label>          
                  <script type="text/javascript">
                      qParams["type_computer"] = "checked";
                      cheks.push("type");
                  </script>
    <label>
        <input type="radio" name="type" value="notebook" id="type_notebook">
        Ноутбук                   
    </label>
</div>