<!DOCTYPE html>
<html lang = "ru-RU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<title>What Computer</title>
</head>

<body>
<div id = "wrapper">
  <div id = "header"> <img src="{{ url_for('static', filename='img/main_header.jpg') }}" alt="What Computer"/> </div>
  <div id = "content">
    <div id = "question"> 
      <!-- <img src="{{ url_for('static', filename='img/tempImg.jpg') }}" alt="tempImgr"/> --> 
       <form method = 'post' action = '/qa/'>
          {% include 'filters.html' %}
          <p><input type="submit"></p>
       </form>  
    </div>

    {% include 'menu.html' %}
    <ul id = "answerList">
      {% for comp in computers %}
      <li class="answer">
        <div class = "image"> 
          <img src="{{ url_for('static', filename='img/computers/5_img/main.jpg') }}" alt = "Рисунок"/>
        </div>
        <div class = "descriptionSection">
          <div class="title">
            <div class = "name"> {{ comp.name }} </div>
            <div class="classification">
              <div class="cover"></div>
              <div class="progress" style="width: {{ comp.dss }}%;"></div>
            </div>
          </div>
          <ul class = "description">
            <li>
              <div class="paramName">Процессор:</div>
              <div class="paramValue"> {{ comp.cpu_name }} , {{ comp.cpu_frequency }} Ггц</div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.cpu_dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Оперативная память:</div>
              <div class="paramValue"> {{ comp.ram_amount }} Gb </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.ram_dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Жесткий диск:</div>
              <div class="paramValue"> {{ comp.hdd_capacity }} Gb</div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.hdd_dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Цена:</div>
              <div class="paramValue"> {{ comp.price }}  </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: 0%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName"> Операционная система </div>
              <div class="paramValue"> {{ comp.os }}</div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: 0%;"></div>
              </div>
            </li>
          </ul>
        </div>
        <ul class = "answerButtons">
          <li> 
            <div class = "price">{{ comp.price }} грн</div> 
            <div class = "priceRange">3400 - 3700</div>
          </li>
          <li> <a  href = "Comp.html"> <img src="{{ url_for('static', filename='img/greenButtons/wNextButton1.jpg') }}" alt="Далее" 
                                onMouseOver="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton2.jpg') }}'" 
                                onMouseOut="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton1.jpg') }}'"
                                onMouseDown="this.src='{{ url_for('static', filename='img/greenButtons/wNextButton3.jpg') }}'"
                                /> </a> </li>
        </ul>
      </li>
      {% endfor %} 
    </ul>
    <div id = "pagination">
    	<ul>
        {% include 'pagination.html' %}
      </ul>
    </div>
  </div>
  <div id = "footer"> Developed by Sonik and Pikachu </div>
</div>
</body>
</html>