<!DOCTYPE html>
<html lang = "ru-RU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<title>What Computer</title>
</head>

<body>
<div id = "wrapper">
  <div id = "header"> <img src="{{ url_for('static', filename='img/main_header.jpg') }}" alt="What Computer"/> </div>
  <div id = "content">
    <div id = "question"> 
      <!-- <img src="{{ url_for('static', filename='img/tempImg.jpg') }}" alt="tempImgr"/> --> 
       <form method = 'post'>
          {% include 'filters.html' %}
          <p><input type="submit"></p>
       </form>  
    </div>

    {% include 'menu.html' %}
    <ul id = "answerList">
      {% for comp in computers %}
      <li class="answer">
        <div class = "image"> <img src="img/compImg.jpg" alt = "Рисунок"/></div>
        <div class = "descriptionSection">
          <div class="title">
            <div class = "name"> {{ comp.comp.name }} </div>
            <div class="classification">
              <div class="cover"></div>
              <div class="progress" style="width: {{ comp.dss }}%;"></div>
            </div>
          </div>
          <ul class = "description">
            <li>
              <div class="paramName">Процессор:</div>
              <div class="paramValue"> {{ comp.cpu.name }} , {{ comp.cpu.frequency }}</div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.cpu.dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Оперативная память:</div>
              <div class="paramValue"> {{ comp.ram.amount }} </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.ram.dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Жесткий диск:</div>
              <div class="paramValue"> {{ comp.hd.hdd_amount }} , {{ comp.hd.ssd_amount }} </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.hd.dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Цена:</div>
              <div class="paramValue"> {{ comp.comp.price }} </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: 100%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName"> Операционная система </div>
              <div class="paramValue"> {{ comp.os.name }}</div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.os.dss }}%;"></div>
              </div>
            </li>
            <li>
              <div class="paramName">Все вместе: </div>
              <div class="paramValue"> {{ comp.comp.norm_price }} , {{ comp.comp.weight }} , {{ comp.comp.webcamera }}
              , {{ comp.comp.Bluetooth }}, {{ comp.comp.wifi }} </div>
              <div class="paramStars">
                <div class="cover"></div>
                <div class="progress" style="width: {{ comp.odd.dss }}%;"></div>
              </div>
            </li>
          </ul>
        </div>
        <ul class = "answerButtons">
          <li> <div class = "price">{{ comp.comp.price }}</div> </li>
          <li> <a  href = "QandA.html"> <img src="{{ url_for('static', filename='img/img/greenButtons/wNextButton1.jpg') }}" alt="Далее" 
                                onMouseOver="this.src='img/greenButtons/wNextButton2.jpg'" 
                                onMouseOut="this.src='img/greenButtons/wNextButton1.jpg'"
                                onMouseDown="this.src='img/greenButtons/wNextButton3.jpg'"
                                /> </a> </li>
        </ul>
      </li>
      {% endfor %} 
    </ul>
    <div id = "pagination">
    	<ul>
        {% include 'pagination.html' %}
      </ul>
    </div>
  </div>
  <div id = "footer"> Developed by Sonik and Pikachu </div>
</div>
</body>
</html>