testWcomp
DB
libs
Comp elements
venv
data
tmp

wcapp/tmp/
wcapp/local_config.py
wcapp/static/img/computers/
wcapp/static/img/notebooks/
*.pyc

wc_work.sublime-project
wc_work.sublime-workspace
media
.ropeproject
