Накопитель.Внутренних отсеков 3 | HDD_cell | .+ | Integer
Накопитель.Емкость накопителя | HDD_capacity | [0-9]+ | Integer
Накопитель.Обороты шпинделя | HDD_speed | [0-9]+ | Integer
Накопитель.Тип накопителя | HDD_type | .+ | String(10)
Передняя панель.Разъемов USB 2 | Panel_usb2 | [0-9]+ | Integer
Передняя панель.Отсеков 3 | Panel_cell3 | [0-9]+ | Integer
Передняя панель.Отсеков 5 | Panel_cell5 | [0-9]+ | Integer
Передняя панель.Аудио (микрофон/наушники) | Panel_audio | .+ | Boolean
Передняя панель.Кардридер | Panel_cardreader | .+ | Boolean
Передняя панель.Разъемов USB 3 | Panel_usb3 | [0-9]+ | Integer
Передняя панель.Привод | Panel_drive | .+ | String(10)
Передняя панель.Цифровой дисплей | Panel_digital_display | .+ | Boolean
Устройство.Тип | type | .+ | String(100)
Устройство.Thunderbolt | thunderbolt | [0-9]+ | Integer
Устройство.USB 2 | Panel_usb2 | [0-9]+ | Integer
Устройство.Сеть | network | .+ | String(150)
Устройство.url | url | .+ | String(300)
Устройство.PS/2 | ps2 | .+ | String(10)
Устройство.Разъемы | jacks | .+ | String(150)
Устройство.USB 3 | Panel_usb3 | [0-9]+ | Integer
Устройство.имя | name | .+ | String(300)
Дисплей.Яркость | Display_brightness | [0-9]+ | Integer
Дисплей.Сенсорный экран | Display_sensor | .+ | Boolean
Дисплей.LED подсветка | Display_LED_backlight | .+ | Boolean
Дисплей.Диагональ экрана | Display_diagonal | [0-9]+ | Integer
Дисплей.Разрешение | Display_resolution | [0-9,x]+ | String(20)
Аппаратная часть.Чипсет | chipset | .+ | String(30)
Видеокарта.Объем видеопамяти | VGA_amount | [0-9]+ | Integer
Видеокарта.Тип видеокарты | VGA_type | .+ | String(50)
Видеокарта.Модель видеокарты | VGA_model | .+ | String(100)
Мультимедиа.ТВ-тюнер | Media_TV_tunner | .+ | Boolean
Мультимедиа.Звук | Media_sound | .+ | String(10)
Мультимедиа.Встроенный микрофон | Media_microphone | .+ | Boolean
Мультимедиа.Разъемов 3 | Media_jacks3 | [0-9]+ | Integer
Мультимедиа.Встроенные динамики | Media_builtin_dinamics | .+ | Boolean
Мультимедиа.Пульт ДУ | Media_remote | .+ | Boolean
Мультимедиа.Встроенная Вэб-камера | Media_WEB_camera | .+ | Boolean
Процессор.Кол-во ядер | CPU_kernel_count | [0-9]+ | Integer
Процессор.Частота процессора | CPU_frequency | [0-9\.]+ | Float
Процессор.Процессор | CPU_name | .+ | String(50)
Процессор.Модель | CPU_model | .+ | String(10)
Оперативная память.Объем ОЗУ | RAM_amount | [0-9]+ | Integer
Оперативная память.Тактовая частота | RAM_frequency | [0-9]+ | Integer
Оперативная память.Тип памяти | RAM_type | .+ | String(10)
Оперативная память.Кол-во слотов | RAM_jacks | [0-9]+ | Integer
Общее.Габариты  (ВхШхГ) | height ; width ; length | [0-9]+ | Integer;Integer;Integer 
Общее.Вес | weight | [0-9\.]+ | Float
Общее.Мощность БП | PB_power | [0-9]+ | Integer
Общее.Предустановленная ОС | os | .+ | String(50)
Общее.Цвет | color | .+ | String(50)
Общее.Материал корпуса | material | .+ | String(50)
Устройство.модель | model | .+ | String(200)
Устройство.страница_картинок | media_url | .+ | String(300)
Разъемы.Сеть | network | .+ | String(150)
Накопитель.Внутренних отсеков 3.5" | Media_jacks3 | [0-9]+ | Integer
Передняя панель.Разъемов USB 3.0 | Panel_usb3 | [0-9]+ | Integer
Передняя панель.Разъемов USB 2.0 | Panel_usb2 | [0-9]+ | Integer
Передняя панель.Отсеков 3.5" | Panel_cell3 | [0-9]+ | Integer
Разъемы.PS/2 | ps2 | .+ | String(10)
Передняя панель.Отсеков 5.25" | Panel_cell5 | [0-9]+ | Integer
Разъемы.USB 3.0 | Panel_usb3 | [0-9]+ | Integer
Разъемы.USB 2.0 | Panel_usb2 | [0-9]+ | Integer
Мультимедиа.Разъемов 3.5 мм (mini-Jack) | Media_jacks3 | [0-9]+ | Integer
Разъемы.Разъемы | jacks | .+ | String(150)
Разъемы.Thunderbolt | thunderbolt | [0-9]+ | Integer
Накопитель.Приобретается отдельно
Дисплей.Контрастность
Передняя панель.eSATA
Дисплей.Поддержка 3D