Аккумулятор.Время зарядки | Battery_charging_time | [0-9\.]+ | Float
Аккумулятор.Время работы (при макс_ нагрузке) | Battery_work_time | [0-9\.]+ | Float
Аккумулятор.Емкость батареи | Battery_capacity |  [0-9\.]+ | Float
Аккумулятор.Кол-во ячеек батареи | Battery_cells |  [0-9\.]+ | Float
Аккумулятор.Макс. время работы | Battery_work_time | [0-9\.]+ | Float
Аккумулятор.Напряжение батареи | Battery_voltage | [0-9\.]+ | Float
Аппаратная часть.Частота системной шины | System_bus | [0-9\.]+ | Float
Аппаратная часть.Чипсет | chipset | .+ | String(30)
Видеокарта.Модель | vga_number | .+ | String(50)
Видеокарта.Объем видеопамяти | VGA_amount | [0-9]+ | Integer
Видеокарта.Серия | vga_model | .+ | String(100)
Видеокарта.Тип видеокарты | VGA_type | .+ | String(50)
Видеокарта.Тип памяти | vga_memory_type | .+ | String(50)
Дисплей.LED подсветка | Display_LED_backlight | .+ | Boolean
Дисплей.Датчик освещения | Display_light_sensor | .+ | Boolean
Дисплей.Диагональ экрана | Display_diagonal | [0-9]+ | Integer
Дисплей.Контрастность | Display_contrast | .+ | String(50)
Дисплей.Поворотный экран | Display_rotation | .+ | Boolean
Дисплей.Поддержка мультитач | Display_multitouch | .+ | Boolean
Дисплей.Покрытие экрана | Display_cover | .+ | String(150)
Дисплей.Разрешение дисплея | Disply_resolution | [0-9,x]+ | String(20)
Дисплей.Сенсорный | Display_sensor | .+ | Boolean
Дисплей.Стекло Gorilla Glass | Display_gorilla_glass | .+ | Boolean
Дисплей.Тип матрицы | Display_matrix | .+ | String(50)
Дисплей.Яркость | Display_brightness | [0-9]+ | Integer
Коммуникации.3G модем | Com_G3 | .+ | Boolean
Коммуникации.Bluetooth | Com_bluetooth | .+ | Boolean
Коммуникации.DialUp модем | Com_dialup | .+ | Boolean
Коммуникации.NFC-чип | Com_nfs | .+ | Boolean
Коммуникации.Wi-Di (беспроводной) | Com_widi | .+ | Boolean
Коммуникации.Wi-Fi | Com_wifi | .+ | String(150)
Коммуникации.WiMAX-модуль | Com_wimax | .+ | Boolean
Коммуникации.Слот расширения | Com_slot | .+ | Boolean
Коммуникации.Тип слота расширения | Com_slot_type | .+ | String(100)
Накопитель.RAID массив | hdd_raid |.+ | Boolean
Накопитель.Датчик свободного падения | hdd_free_fall | .+ | Boolean
Накопитель.Емкость 2-го накопителя | hdd_capacity2 | .+ | String(150)
Накопитель.Емкость накопителя | HDD_capacity | .+ | String(100)
Накопитель.Обороты шпинделя | HDD_speed | [0-9]+ | Integer
Накопитель.Тип накопителя | HDD_type | .+ | String(10)
Общее.Вес | weight | [0-9\.]+ | Float
Общее.Влагозащищенный корпус | waterproof | .+ | String(150)
Общее.Встроенная оболочка | shell | .+ | String(150)
Общее.Габариты (ШхГхТ) | width; length; height | [0-9\.]+ | Float;FLoat;FLoat
Общее.Комплектность | completeness | .+ | String(100)
Общее.Материал корпуса | material | .+ | String(50)
Общее.Подключение док-станции | doc_station_connection  | .+ | Boolean
Общее.Предустановленная ОС | os | .+ | String(50)
Общее.Ударопрочный корпус | shockproof | .+ | String(150)
Общее.Цвет | color | .+ | String(50)
Оперативная память.Кол-во слотов | RAM_jacks | [0-9]+ | Integer
Оперативная память.Максимально устанавливаемый объем | ram_max | [0-9]+ | Integer
Оперативная память.Объем оперативной памяти | RAM_amount | [0-9]+ | Integer
Оперативная память.Стандарт памяти | ram_standart | .+ | String(150)
Оперативная память.Тип | ram_type | .+ | String(10)
Привод оптических дисков.Поддержка BluRay | panel_bluraydrive | .+ | Boolean
Привод оптических дисков.Тип | Panel_drive | .+ | String(50)
Процессор.Кол-во ядер процессора | CPU_kernel_count | [0-9]+ | Integer
Процессор.Модель | CPU_model | .+ | String(10)
Процессор.Объем кэш памяти 2-го уровня | cpu_cash2 | [0-9]+ | Integer
Процессор.Объем кэш памяти 3-го уровня | cpu_cash3 | [0-9]+ | Integer
Процессор.Серия процессора | CPU_name | .+ | String(50)
Процессор.Частота процессора | CPU_frequency | [0-9\.]+ | Float
Результаты тестов.Видеокарта (3DMark Vantage) | testvga_3DMark | [0-9]+ | Integer
Результаты тестов.Видеокарта (3DMark06) | testvga_3DMark06  | [0-9]+ | Integer
Результаты тестов.Процессор (3DMark06) | testcpu_3DMark06 | [0-9]+ | Integer
Результаты тестов.Процессор (Passmark CPU Mark) | testcpu_passmark | [0-9]+ | Integer
Результаты тестов.Процессор (SuperPI 1M) | testcpu_super | [0-9\.]+ | Float
Устройства ввода.Num блок | input_numblock | .+ | String(50) 
Устройства ввода.Кол-во дополнительных клавиш | input_aditional_keys | .+ | String(50) 
Устройства ввода.Конструкция клавиш | input_keys_constraction |.+ | String(50) 
Устройства ввода.Манипулятор | input_manipulator |.+ | String(50) 
Устройства ввода.Поддержка мультитач |  input_multitouch | .+ | String(50) 
Устройства ввода.Подсветка клавиатуры |  input_keyboard_backlight |.+ | String(50) 
Устройства ввода.Разная расцветка букв клавиатуры |  input_keyboard_keycolors |.+ | String(50)   
Устройство.LAN (RJ-45) |  lan |.+ | String(50)  
Устройство.Thunderbolt | thunderbolt | [0-9]+ | Integer
Устройство.USB 2.0 | Panel_usb2 | [0-9]+ | Integer
Устройство.USB 3.0 | Panel_usb3 | [0-9]+ | Integer
Устройство.url | url | .+ | String(300)
Устройство.Вэб-камера | web_camera | .+ | String(100)
Устройство.Дополнительный выход на наушники | additional_headphones_port |.+ | String(50)  
Устройство.Мультимедиа | multimedia |.+ | String(50)  
Устройство.Порты подключения | connection_ports |.+ | String(50)  
Устройство.Тип | type | .+ | String(100)
Устройство.Формат акустики | accoustic_format |.+ | String(50)
Устройство.имя | name | .+ | String(300)
Устройство.модель | model | .+ | String(200)
Устройство.страница_картинок | media_url | .+ | String(300)
Мультимедиа.Дополнительный выход на наушники | additional_headphones_port |.+ | String(50) 
Аккумулятор.Время работы (при макс. нагрузке) | Battery_work_time | [0-9\.]+ | Float
Мультимедиа.Мультимедиа | multimedia |.+ | String(50)  
Разъемы и подключения.Thunderbolt | thunderbolt | [0-9]* | Integer
Мультимедиа.Формат акустики | accoustic_format |.+ | String(50)
Разъемы и подключения.USB 2.0 | Panel_usb2 | [0-9]* | Integer
Разъемы и подключения.LAN (RJ-45) | lan | .+ | String(50) 
Мультимедиа.Вэб-камера | web_camera | .+ | String(100)
Разъемы и подключения.USB 3.0 | Panel_usb3 | [0-9]* | Integer
Разъемы и подключения.Порты подключения | connection_ports | .+ | String(50)
Дисплей.Поддержка 3D