/* CSS Document */
@import url("reset.css");
html {
	width:100%;
	height: 100%
}
body {
	height: 100%;
	background:url(img/bg.jpg);
}
#header {
	background:#fff;
}
#wrapper {
	min-height:100%;
	position:relative;
	margin:0 auto;
	width:800px;
	font-family: Myriad Pro Light, Myriad Pro, Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 1.2;
}
#content {
	padding-bottom:10px;
	float:left;
	background:#fff;
	width: 100%;
}
#menu ul {
	text-align: center;
	background:#fff;
}
#menu ul li {
	display: inline;
	padding: 0px 15px;
}
#menu ul li a {
	text-decoration: none;
	outline: none; 
}
#question {
	background:#fff;
}
#answerList {
	float:left;
	background:#fff;
	width: 110%;
	margin-left: -5%;
}
.comp {
	background:#fff;
	float:left;
	width: 100%;
}
.answer {
	margin: 10px 0px;
	display:inline;
	background:#FBFBFB;
	/*background:#fff;*/
	float:left;
	width: 99%;
	padding: 10px 0px;
	border: 3px solid #ECF2F5; /* C8DEE7 B5D3DF*/
	border-radius:10px;
	-moz-border-radius:10px;
}
.image {
	float:left;
	padding: 2px;
	text-align: center;
	width:30%;
}
.descriptionSection {
	float:left;
}
.title {
	display:block;
	float:left;
}
.name {
	padding: 10px 5px 10px;
	float:left;
	color:#3399CC;
}
.description {
	clear:left;
	float:left;
	padding: 5px;
	color:#145571;
}
.description li {
	float:left;
	clear: left; /* Отменяем действие float */
}
.paramName {
	float:left;
}
.paramValue {
	float:left;
	padding: 0px 5px;
}
.answerButtons {
	float:right;
	width:20%;
	text-align: center;
}
.answerButtons {
	background:inherit;
}
.answerButtons .price {
	font-size:24px;
	color:#D9742B;
}
.answerButtons .priceRange {
	font-size:18px;
	color:#FFA92B;
}
.answerButtons li {
	padding-top: 30px;
}
#footer {
	width:100%;
	/*position: absolute;*/
	/*bottom: 10px;*/
	padding-top: 20px;
	text-align: center;
	font-style:italic;
	font-size:13px;
	color:#666;
	float:left;
}
/* Stars */
.classification {
	float:left;
	left: 10px;
	top: 5px;
	position: relative;
	width: 114px;
	height: 22px;
}
.classification .cover {
	position: absolute;
	background: transparent url(img/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 114px;
	height: 22px;
	z-index: 101;
}
.classification .progress {
	position: absolute;
	background: transparent url(img/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 22px;
	z-index: 102;
}
.paramStars {
	float:left;
	position: relative;
	width: 83px;
	height: 16px
}
.paramStars .cover {
	position: absolute;
	background: transparent url(img/small_stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 83px;
	height: 16px;
	z-index: 101;
}
.paramStars .progress {
	position: absolute;
	background: transparent url(img/small_stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 16px;
	z-index: 102;
}
/* Pagination */
#pagination {
	width:100%;
	float:left;
	margin-left: 10px;
}
#pagination li {
	display:inline;
	padding: 0px 5px;
}
#pagination li a {
	text-decoration:none;
	color:#3399CC;
}
#pagination li a:hover {
	text-decoration:none;
	color:#4CE126;
}
#pagination .select {
	text-decoration:none;
	font-size: 16px;
	color:#3399CC; /*color:#145571;*/
}
/* Tabs */
#tabContainer {
	margin-top:10px;
	width:100%;
	float:left;
}
.tabs {
	height:30px;
	border-bottom: 2px solid #3399CC;
}
.tabs > ul {
	float:left;
	margin-left:150px;
	font-size: 14px;
	list-style:none;
}
.tabs > ul > li {
	height:14px;
	margin:0 10px 0 0;
	padding:7px 20px;
	display:block;
	float:left;
	color:#3399CC;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 2px solid #3399CC;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #fff;
}
.tabs > ul > li:hover {
	background: #FFFFFF; /* old browsers */
	/*background: -moz-linear-gradient(top, #FFFFFF 0%, #F5F9F4 10%, #F5F9F4 50%, #FFFFFF 100%); /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(10%, #F5F9F4), color-stop(50%, #F5F9F4), color-stop(100%, #FFFFFF)); /* webkit */
	cursor:pointer;
	color: #4CE126;
}
.tabs > ul > li.tabActiveHeader {
	border-top: 2px solid #3399CC;
	border-right: 2px solid #3399CC;
	border-left: 2px solid #3399CC;
	border-bottom: 2px solid #fff;
}
.tabscontent {
	float:left;
	width:98%;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding:1% 1% 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 98%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(98%, #FFFFFF), color-stop(100%, #e4e9ed)); /* webkit */
	color: #145571;
}
.tabpage table{
	width: 100%;
}
.tabpage  TD {
	padding: 3px 2px;
	border-top: 4px solid #fff;
}
#parametrs .paramName {
	width: 30%;
}
.tabpage .paramSeparator {
	padding: 3px 0px;
	width: 2px;
	background:#B3B3B3;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
#stores TD {
	vertical-align: middle;
	padding: 3px 2px;
	border-top: 4px solid #fff;
}
#stores .storeLogo {
	width: 20%;
	padding-left:20px;
}
#stores .storeInfo  {
	width: 50%;
	padding-left:10px;
}
#stores .storeInfo .storeName {
	font-size:16px;
}
#stores a {
	text-decoration:none;
	color:#145571;
}
#stores a:hover {
	text-decoration:none;
	color:#4CE126;
}
#stores .storePrice  {
	padding-left:10px;
	font-size:18px;
	color:#D9742B; /*FFA92B;*/
	
	width:50%;
}

/* Colors */
.gray {
	background: #FBFBFB;
}
.green {
	background: #F0F6EF;
}

/* Questions */
#questions {
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

#trigger{
	margin-left: 20px;
	float: left;
}

#questions > li{
	margin-bottom: 25px;
	width: 100%;
	float: left;	
	overflow: hidden;	
	
}

#searchButton{
	color:#D9742B;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;
	font-size: 15px;
}

#defaultButton{
	color:#D9742B;
	margin-right: 50px;
	margin-bottom: 10px;
	float: right;
	font-size: 15px;
}

.question-select {
	width: 200px;
	height: 80px;
}

.question-select .sbHolder{
	margin-left: 20px;
}

.question-content{
	width: 200%;
}

.question-part{
	width: 50%;
	float: left;	
	
}


/* V cod*/
.question-slider {
	width: 50%;
}
/* V cod*/



.question-slider label{
	font-size: 12px;
	font-family: Myriad Pro, Verdana, Tahoma, Arial, Helvetica, sans-serif; 
	color: #4CE126;
}

.question-slider .right {
	float:right;
}
.question-slider .left {
	float:left;
	margin-left: 15px;
}
.question-slider .slider{;
	padding: 20px 5px 30px 20px;
}

#questions .qText{
	padding: 5px 0px 10px 10px;
	color: #3399CC;	
}

#questions .qText a{
	font-size: 10px;
	color: #FFA92B;	
	vertical-align: super;
}

.question{
	float: left;
	margin-right: 50px;	
}

.question-input .text{
	margin-left: 20px;
}

.question-radio label{
    color: #145571;    
    font-family: Myriad Pro Light, Myriad Pro, Verdana, Tahoma, Arial, Helvetica, sans-serif; 
}

.question-checkbox label{
    color: #145571;    
    font-family: Myriad Pro, Verdana, Tahoma, Arial, Helvetica, sans-serif; 
}

.inline label{
	margin-left: 30px;

}

.rows label, .table label{
	display: block;
	margin-bottom: 3px;
	margin-left: 30px;
    clear: both;
}

.table td{
	width: 200px;
}

.cPart .arrow, .nPart .arrow{
	width: 5%;	
	vertical-align: middle;
}


.cPart .arrowHref {	
	float: right;
	margin-right: 20px;
}
.nPart .arrowHref {	
	float: left;
	margin-left: 20px;
}

#goButton{
	float: left;
}
/* Hrefs*/
a {
	text-decoration:none;
	color:#4CE126;
}
a:hover {
	text-decoration:underline;
	color:#4CE126;
}