/* CSS Document */
@import url("reset.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@font-face
{
font-family: main_font;
src: url('font.ttf');
}
html {
	width:100%;
	height: 100%
}
body {
	height: 100%;
	background:url(img/bg.jpg);
}
#header {
	background:#fff;
}
#wrapper {
	font-size:14px;
	min-height:100%;
	position:relative;
	margin:0 auto;
	width:800px;
	font-family: main_font;	
	line-height: 1.2;
}
#content {
	padding-bottom:10px;
	float:left;
	background:#fff;
	width: 100%;
}

#menu ul {
	text-align: center;
	background:#fff;
}
#menu ul li {
	display: inline;
	margin: 0px 15px;
}
#menu ul li a {
	text-decoration: none;
	outline: none; 
}
#question {
	background:#fff;
}
#answerList, #comp {
	float:left;
	background:#fff;
	width: 110%;
	margin-left: -6%;
}
.answer {
	margin: 10px 10px;
	display:inline;
	background:#FBFBFB;
	/*background:#fff;*/
	float:left;
	width: 99%;
	padding: 10px 0px;
	border: 3px solid #ECF2F5; /* C8DEE7 B5D3DF*/
	border-radius:10px;
	-moz-border-radius:10px;
}
.image {
	float:left;
	padding: 2px;
	text-align: center;
	width:30%;
}
.descriptionSection {
	float:left;
	width: 49%;
}
.title {
	display:block;
	float:left;
}
.name {
	padding: 10px 5px 0px;
	float:left;
	color:#3399CC;
	font-size:16px;
}
.description {
	clear:left;
	float:left;
	padding: 5px;
	color:#145571;
}
.description li {
	float:left;
	clear: left;
}
.paramName,.paramValue {
	float: left;
	margin-top: 2px;
}
.paramValue {
	margin-left: 5px;
}
.answerButtons {
	float:right;
	width:20%;
	text-align: center;
}
.answerButtons {
	background:inherit;
}
.answerButtons .price {
	font-size:24px;
	color:#D9742B;
}
.answerButtons .priceRange {
	font-size:18px;
	color:#FFA92B;
}
.answerButtons li {
	padding-top: 30px;
}

.compOpenButton{
	height: 42px;
	width: 60px;
	margin-left: 55px;
	background-image:url(img/greenButtons/wNextButton1.png); 
}

.compOpenButton:hover{
	background-image:url(img/greenButtons/wNextButton2.png); 
}

.compOpenButton:active{
	background-image:url(img/greenButtons/wNextButton3.png); 
}

#footer {
	width:100%;
	/*position: absolute;*/
	/*bottom: 10px;*/
	padding-top: 20px;
	text-align: center;
	font-style:italic;
	font-size:13px;
	color:#666;
	float:left;
}
/* Stars */
.classification {
	float:left;
	left: 10px;
	top: 5px;
	position: relative;
	width: 114px;
	height: 22px;
	margin-bottom: 5px;
}
.classification .cover {
	position: absolute;
	background: transparent url(img/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 114px;
	height: 22px;
	z-index: 101;
}
.classification .progress {
	position: absolute;
	background: transparent url(img/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 22px;
	z-index: 102;
}
.paramStars {
	margin-left: 5px;
	float:left;
	position: relative;
	width: 83px;
	height: 16px
}
.paramStars .cover {
	position: absolute;
	background: transparent url(img/small_stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 83px;
	height: 16px;
	z-index: 101;
}
.paramStars .progress {
	position: absolute;
	background: transparent url(img/small_stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 16px;
	z-index: 102;
}
/* Pagination */
#pagination {
	width:100%;
	float:left;
	margin-left: 10px;
}
#pagination li {
	display:inline;
	padding: 0px 5px;
}
#pagination .select {
	text-decoration:none;
	font-size: 16px;
	color:#3399CC; /*color:#145571;*/
}
/* Tabs */
#tabContainer {
	margin-top:20px;
	width:100%;
	float:left;
}
.tabs {
	height:32px;
	border-bottom: 2px solid #3399CC;
}
.tabs > ul {
	float:left;
	margin-left:150px;
	list-style:none;
}
.tabs > ul > li {
	height:12px;
	margin:0 10px 0 0;
	padding:9px 20px;
	display:block;
	float:left;
	color:#3399CC;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 2px solid #3399CC;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #fff;
}
.tabs > ul > li:hover {
	background: #FFFFFF; 
	cursor:pointer;
	color: #4CE126;
}
.tabs > ul > li.tabActiveHeader {
	border-top: 2px solid #3399CC;
	border-right: 2px solid #3399CC;
	border-left: 2px solid #3399CC;
	border-bottom: 2px solid #fff;
}
.tabscontent {
	float:left;
	width:98%;
	padding:1% 1% 25px;
	background: #FFFFFF;
	color: #145571;
	border-bottom: 2px solid #3399CC;
}
.tabpage table{
	width: 100%;
}
.tabpage  TD {
	vertical-align: middle;
	padding: 3px 2px;
	border-top: 4px solid #fff;
}
#parametrs .tableName {
	width: 30%;
}

.key > .tableName{
	padding-left: 20px;
	font-family:'Open Sans', sans-serif;
	font-size:13px;

}

.tabpage .tableSeparator{
	padding: 3px 0px;
	width: 2px;
	background:#B3B3B3;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
#stores .storeLogo {
	width: 20%;
	padding-left:20px;
}
#stores .storeInfo  {
	width: 50%;
	padding-left:10px;
}
#stores .storeInfo .storeName {
	font-size:16px;
}
#stores a {
	text-decoration:none;
	color:#145571;
}
#stores a:hover {
	text-decoration:none;
	color:#4CE126;
}
#stores .storePrice  {
	padding-left:10px;
	font-size:18px;
	color:#D9742B; /*FFA92B;*/
	
	width:50%;
}

/* Colors */
.key {
	background: #FBFBFB;
}
.part {
	background: #F0F6EF;
	font-size:14px;
}

/* Questions */
#questions {
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

#trigger{
	margin-left: 20px;
	float: left;
	font-size: 15px;
}

#questions > li{
	margin-bottom: 25px;
	width: 100%;
	float: left;	
	overflow: hidden;	
	
}

#searchButton{
	color:#D9742B;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;
	font-size: 15px;
}

#defaultButton{
	color:#D9742B;
	margin-right: 50px;
	margin-bottom: 10px;
	float: right;
	font-size: 15px;
}

.question-select {
	width: 200px;
	height: 80px;
}

.question-select .sbHolder{
	margin-left: 20px;
}

.question-content{
	width: 200%;
}

.question-part{
	width: 50%;
	float: left;	
	
}

.question-slider {
	width: 50%;
}

.question-slider label{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;  
	color: #4CE126;
}

.question-slider .right {
	float:right;
}
.question-slider .left {
	float:left;
	margin-left: 15px;
}
.question-slider .slider{;
	padding: 20px 5px 30px 20px;
}

#questions .qText{
	padding: 5px 0px 10px 10px;
	color: #3399CC;
	font-size:15px;	
}

a.tooltip{
	font-size: 10px;
	font-weight: bold;
	color: #FFA92B;	
	vertical-align: super;
}
a:hover.tooltip{
	text-decoration:underline;
	font-size: 10px;
	color: #FFA92B;	
	vertical-align: super;
}

#mainQuestion label{  
    font-family: main_font;
    margin-left: 40px; 
}

#mainQuestion .qText{
	padding: 5px 0px 20px 20px;
	font-size: 16px;	
}

.question{
	float: left;
	margin-right: 50px;	
}

.question-input .text{
	margin-left: 20px;
}


.question-radio label, .question-checkbox label{
    color: #145571;    
    font-family: 'Open Sans', sans-serif;
    font-size:14px;

}

.inline label{
	margin-left: 30px;

}

.rows label, .table label{
	display: block;
	margin-bottom: 3px;
    clear: both;
}

.rows label,.table table {
	margin-left: 30px;
}


.table td{
	width: 225px;
}

.cPart .arrow, .nPart .arrow{
	width: 5%;	
	vertical-align: middle;
}


.cPart .arrowHref {	
	float: right;
	margin-right: 20px;
}
.nPart .arrowHref {	
	float: left;
	margin-left: 20px;
}

#goButton{
	float: left;
}

/* Hrefs*/
a#trigger {
	text-decoration:none;
	color:#4CE126;
}
a#trigger:hover  {
	text-decoration:underline;
	color:#4CE126;
}

a{
	text-decoration:none;
	color:#3399CC;
}
a:hover  {
	text-decoration:none;
	color:#4CE126;
}

/* Tooltips*/
.qtip-content p{
	text-indent: 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;	
}
.qtip-content i{
	font-style: italic;
}
.qtip-content b{
	font-weight: 700;
}
.qtip-content .tooltip-text{
	float: right;
	width: 50%;
	height: 130px;
	padding: 20px 10px;
	margin-top: 10px;
}
