Накопитель_Внутренних отсеков 3.5" | HDD_cell | .+ | Integer
Накопитель_Емкость накопителя | HDD_capacity | .+ | String(100)
Накопитель_Обороты шпинделя | HDD_speed | [0-9]+ | Integer
Накопитель_Тип накопителя | HDD_type | .+ | String(10)
Передняя панель_Разъемов USB 2.0 | Panel_usb2 | [0-9]+ | Integer
Передняя панель_Отсеков 3.5" | Panel_cell3 | [0-9]+ | Integer
Передняя панель_Отсеков 5.25" | Panel_cell5 | [0-9]+ | Integer
Передняя панель_Аудио (микрофон/наушники) | Panel_audio | .+ | Boolean
Передняя панель_Кардридер | Panel_cardreader | .+ | Boolean
Передняя панель_Разъемов USB 3.0 | Panel_usb3 | [0-9]+ | Integer
Передняя панель_Привод | Panel_drive | .+ | String(50)
Передняя панель_Цифровой дисплей | Panel_digital_display | .+ | Boolean
Устройство_Тип | type | .+ | String(100)
Устройство_Thunderbolt | thunderbolt | [0-9]+ | Integer
Устройство_USB 2.0 | Panel_usb2 | [0-9]+ | Integer
Устройство_Сеть | network | .+ | String(150)
Устройство_url | url | .+ | String(300)
Устройство_PS/2 | ps2 | .+ | String(10)
Устройство_Разъемы | jacks | .+ | String(150)
Устройство_USB 3.0 | Panel_usb3 | [0-9]+ | Integer
Устройство_имя | name | .+ | String(300)
Дисплей_Яркость | Display_brightness | [0-9]+ | Integer
Дисплей_Сенсорный экран | Display_sensor | .+ | Boolean
Дисплей_LED подсветка | Display_LED_backlight | .+ | Boolean
Дисплей_Диагональ экрана | Display_diagonal | [0-9]+ | Integer
Дисплей_Разрешение | Display_resolution | [0-9,x]+ | String(20)
Аппаратная часть_Чипсет | chipset | .+ | String(30)
Видеокарта_Объем видеопамяти | VGA_amount | [0-9]+ | Integer
Видеокарта_Тип видеокарты | VGA_type | .+ | String(50)
Видеокарта_Модель видеокарты | VGA_model | .+ | String(100)
Мультимедиа_ТВ-тюнер | Media_TV_tunner | .+ | Boolean
Мультимедиа_Звук | Media_sound | .+ | String(10)
Мультимедиа_Встроенный микрофон | Media_microphone | .+ | Boolean
Мультимедиа_Разъемов 3.5 мм (mini-Jack) | Media_jacks3 | [0-9]+ | Integer
Мультимедиа_Встроенные динамики | Media_builtin_dinamics | .+ | Boolean
Мультимедиа_Пульт ДУ | Media_remote | .+ | Boolean
Мультимедиа_Встроенная Вэб-камера | Media_WEB_camera | .+ | Boolean
Процессор_Кол-во ядер | CPU_kernel_count | [0-9]+ | Integer
Процессор_Частота процессора | CPU_frequency | [0-9\.]+ | Float
Процессор_Процессор | CPU_name | .+ | String(50)
Процессор_Модель | CPU_model | .+ | String(10)
Оперативная память_Объем ОЗУ | RAM_amount | [0-9]+ | Integer
Оперативная память_Тактовая частота | RAM_frequency | [0-9]+ | Integer
Оперативная память_Тип памяти | RAM_type | .+ | String(10)
Оперативная память_Кол-во слотов | RAM_jacks | [0-9]+ | Integer
Общее_Габариты  (ВхШхГ) | height ; width ; length | [0-9]+$0; [0-9]+$1; [0-9]+$2 | Float;FLoat;FLoat
Общее_Вес | weight | [0-9\.]+ | Float
Общее_Мощность БП | PB_power | [0-9]+ | Integer
Общее_Предустановленная ОС | os | .+ | String(50)
Общее_Цвет | color | .+ | String(50)
Общее_Материал корпуса | material | .+ | String(50)
Аккумулятор_Время зарядки | Battery_charging_time | [0-9\.]+ | Float
Аккумулятор_Время работы (при макс_ нагрузке) | Battery_work_time | [0-9\.]+ | Float
Аккумулятор_Емкость батареи | Battery_capacity |  [0-9\.]+ | Float
Аккумулятор_Кол-во ячеек батареи | Battery_cells |  [0-9\.]+ | Float
Аккумулятор_Макс_ время работы | Battery_work_time | [0-9\.]+ | Float
Аккумулятор_Напряжение батареи | Battery_voltage | [0-9\.]+ | Float
Аппаратная часть_Частота системной шины | System_bus | [0-9\.]+ | Float
Видеокарта_Модель | vga_number | .+ | String(50)
Видеокарта_Серия | vga_model | .+ | String(100)
Видеокарта_Тип памяти | vga_memory_type | .+ | String(50)
Дисплей_Датчик освещения | Display_light_sensor | .+ | Boolean
Дисплей_Контрастность | Display_contrast | .+ | String(50)
Дисплей_Поворотный экран | Display_rotation | .+ | Boolean
Дисплей_Поддержка мультитач | Display_multitouch | .+ | Boolean
Дисплей_Покрытие экрана | Display_cover | .+ | String(150)
Дисплей_Разрешение дисплея | Disply_resolution | [0-9,x]+ | String(20)
Дисплей_Сенсорный | Display_sensor | .+ | Boolean
Дисплей_Стекло Gorilla Glass | Display_gorilla_glass | .+ | Boolean
Дисплей_Тип матрицы | Display_matrix | .+ | String(50)
Коммуникации_3G модем | Com_G3 | .+ | Boolean
Коммуникации_Bluetooth | Com_bluetooth | .+ | Boolean
Коммуникации_DialUp модем | Com_dialup | .+ | Boolean
Коммуникации_NFC-чип | Com_nfs | .+ | Boolean
Коммуникации_Wi-Di (беспроводной) | Com_widi | .+ | Boolean
Коммуникации_Wi-Fi | Com_wifi | .+ | String(150)
Коммуникации_WiMAX-модуль | Com_wimax | .+ | Boolean
Коммуникации_Слот расширения | Com_slot | .+ | Boolean
Коммуникации_Тип слота расширения | Com_slot_type | .+ | String(100)
Накопитель_RAID массив | hdd_raid |.+ | Boolean
Накопитель_Датчик свободного падения | hdd_free_fall | .+ | Boolean
Накопитель_Емкость 2-го накопителя | hdd_capacity2 | .+ | String(150)
Общее_Влагозащищенный корпус | waterproof | .+ | String(150)
Общее_Встроенная оболочка | shell | .+ | String(150)
Общее_Габариты (ШхГхТ) | width; length; height | [0-9]+$0; [0-9]+$1; [0-9\.]+$2 | Float;FLoat;FLoat
Общее_Комплектность | completeness | .+ | String(100)
Общее_Подключение док-станции | doc_station_connection  | .+ | Boolean
Общее_Ударопрочный корпус | shockproof | .+ | String(150)
Оперативная память_Максимально устанавливаемый объем | ram_max | [0-9]+ | Integer
Оперативная память_Объем оперативной памяти | RAM_amount | [0-9]+ | Integer
Оперативная память_Стандарт памяти | ram_standart | .+ | String(150)
Оперативная память_Тип | ram_type | .+ | String(10)
Привод оптических дисков_Поддержка BluRay | panel_bluraydrive | .+ | Boolean
Привод оптических дисков_Тип | Panel_drive | .+ | String(50)
Процессор_Кол-во ядер процессора | CPU_kernel_count | [0-9]+ | Integer
Процессор_Объем кэш памяти 2-го уровня | cpu_cash2 | [0-9]+ | Integer
Процессор_Объем кэш памяти 3-го уровня | cpu_cash3 | [0-9]+ | Integer
Процессор_Серия процессора | CPU_name | .+ | String(50)
Результаты тестов_Видеокарта (3DMark Vantage) | testvga_3DMark | [0-9]+ | Integer
Результаты тестов_Видеокарта (3DMark06) | testvga_3DMark06  | [0-9]+ | Integer
Результаты тестов_Процессор (3DMark06) | testcpu_3DMark06 | [0-9]+ | Integer
Результаты тестов_Процессор (Passmark CPU Mark) | testcpu_passmark | [0-9]+ | Integer
Результаты тестов_Процессор (SuperPI 1M) | testcpu_super | [0-9\.]+ | Float
Устройство_Вэб-камера | web_camera | .+ | String(100)
Устройства ввода_Num блок | .+ | String(50) 
Устройства ввода_Кол-во дополнительных клавиш | .+ | String(50) 
Устройства ввода_Конструкция клавиш | .+ | String(50) 
Устройства ввода_Манипулятор | .+ | String(50) 
Устройства ввода_Поддержка мультитач | .+ | String(50) 
Устройства ввода_Подсветка клавиатуры | .+ | String(50) 
Устройства ввода_Разная расцветка букв клавиатуры | .+ | String(50)   
Устройство_LAN (RJ-45) | .+ | String(50)  
Устройство_Дополнительный выход на наушники | .+ | String(50)  
Устройство_Мультимедиа | .+ | String(50)  
Устройство_Порты подключения | .+ | String(50)  
Устройство_Формат акустики | .+ | String(50) 