Накопитель_Внутренних отсеков 3 | HDD_cell | + | Integer
Накопитель_Емкость накопителя | HDD_capacity | [0-9]+ | Integer
Накопитель_Обороты шпинделя | HDD_speed | [0-9]+ | Integer
Накопитель_Тип накопителя | HDD_type | + | String(10)
Передняя панель_Разъемов USB 2 | Panel_usb2 | [0-9]+ | Integer
Передняя панель_Отсеков 3 | Panel_cell3 | [0-9]+ | Integer
Передняя панель_Отсеков 5 | Panel_cell5 | [0-9]+ | Integer
Передняя панель_Аудио (микрофон/наушники) | Panel_audio | + | Boolean
Передняя панель_Кардридер | Panel_cardreader | + | Boolean
Передняя панель_Разъемов USB 3 | Panel_usb3 | [0-9]+ | Integer
Передняя панель_Привод | Panel_drive | + | String(10)
Передняя панель_Цифровой дисплей | Panel_digital_display | + | Boolean
Устройство_Тип | type | + | String(100)
Устройство_Thunderbolt | thunderbolt | [0-9]+ | Integer
Устройство_USB 2 | Panel_usb2 | [0-9]+ | Integer
Устройство_Сеть | network | + | String(150)
Устройство_url | url | + | String(300)
Устройство_PS/2 | ps2 | + | String(10)
Устройство_Разъемы | jacks | + | String(150)
Устройство_USB 3 | Panel_usb3 | [0-9]+ | Integer
Устройство_имя | name | + | String(300)
Дисплей_Яркость | Display_brightness | [0-9]+ | Integer
Дисплей_Сенсорный экран | Display_sensor | + | Boolean
Дисплей_LED подсветка | Display_LED_backlight | + | Boolean
Дисплей_Диагональ экрана | Display_diagonal | [0-9]+ | Integer
Дисплей_Разрешение | Disply_resolution | [0-9,x]+ | String(20)
Аппаратная часть_Чипсет | chipset | + | String(30)
Видеокарта_Объем видеопамяти | VGA_amount | [0-9]+ | Integer
Видеокарта_Тип видеокарты | VGA_type | + | String(50)
Видеокарта_Модель видеокарты | VGA_model | + | String(100)
Мультимедиа_ТВ-тюнер | Media_TV_tunner | + | Boolean
Мультимедиа_Звук | Media_sound | + | String(10)
Мультимедиа_Встроенный микрофон | Media_microphone | + | Boolean
Мультимедиа_Разъемов 3 | Media_jacks3 | [0-9]+ | Integer
Мультимедиа_Встроенные динамики | Media_builtin_dinamics | + | Boolean
Мультимедиа_Пульт ДУ | Media_remote | + | Boolean
Мультимедиа_Встроенная Вэб-камера | Media_WEB_camera | + | Boolean
Процессор_Кол-во ядер | CPU_kernel_count | [0-9]+ | Integer
Процессор_Частота процессора | CPU_frequency | [0-9\.]+ | Float
Процессор_Процессор | CPU_name | + | String(50)
Процессор_Модель | CPU_model | + | String(10)
Оперативная память_Объем ОЗУ | RAM_amount | [0-9]+ | Integer
Оперативная память_Тактовая частота | RAM_frequency | [0-9]+ | Integer
Оперативная память_Тип памяти | RAM_type | + | String(10)
Оперативная память_Кол-во слотов | RAM_jacks | [0-9]+ | Integer
Общее_Габариты  (ВхШхГ) | height ; width ; length | [0-9]+$0$; [0-9]+$1$; [0-9]+$2$ | Integer;Integer;Integer 
Общее_Вес | weight | [0-9\.]+ | Float
Общее_Мощность БП | PB_power | [0-9]+ | Integer
Общее_Предустановленная ОС | os | + | String(50)
Общее_Цвет | color | + | String(50)
Общее_Материал корпуса | material | + | String(50)